.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #89d28b;
    color: #01390f;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img{
    width: 40px;
    margin-right: 0.8em
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #01390f;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    padding: 0.5em 0.8em;
    border-radius:  5px;
}

.navbar li:hover {
    background-color: #01390f;
    color: #fff;
}

.navbar li:hover > a {
    color: #fff;
}